@font-face {
  font-style: normal;
  font-weight: 300;
  font-family: "MuseoSansCyrl";

  font-display: swap;
  src: url("/assets/fonts/MuseoSansCyrl-300.woff2") format("woff2");
}

@font-face {
  font-style: normal;
  font-weight: 500;
  font-family: "MuseoSansCyrl";

  font-display: swap;
  src: url("/assets/fonts/MuseoSansCyrl-500.woff2") format("woff2");
}

@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: "MuseoSansCyrl";

  font-display: swap;
  src: url("/assets/fonts/MuseoSansCyrl-700.woff2") format("woff2");
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  white-space: nowrap;

  border: 0;

  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

ul {
  list-style: none;
}

p,
h1,
h2,
h3,
ul,
li {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;

  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  font-family: "MuseoSansCyrl", sans-serif;
  color: #1a1a1a;
}

.container {
  width: 100%;
  min-width: 320px;
  max-width: 1280px;
  margin: 0 auto;
  padding: 40px 40px 80px 40px;

  @media (max-width: 1024px) {
    padding: 30px 30px 60px 30px;
  }

  @media (max-width: 768px) {
    padding: 15px 15px 30px 15px;
  }
}

.container--info-mod {
  padding-top: 22px;
}

.intro {
  position: relative;

  margin-bottom: 80px;
  padding: 40px 40px 54px 40px;
  overflow: hidden;

  text-align: center;
  color: #ffffff;

  background-color: #93bbea;
  border-radius: 40px;

  @media (max-width: 1024px) {
    margin-bottom: 60px;
  }

  @media (max-width: 768px) {
    margin-bottom: 40px;
    padding: 20px 20px 24px 20px;
  }
}

.intro__wrapper {
  position: relative;
  z-index: 10;
}

.intro:before {
  content: "";
  position: absolute;
  top: 37px;
  left: -5px;
  z-index: 5;

  width: 275px;
  height: 195px;

  background-image: url("./assets/img/svg/intro-background-telegram.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.intro::after {
  content: "";
  position: absolute;
  right: -39px;
  bottom: -43px;
  z-index: 5;

  width: 352px;
  height: 310px;

  background-image: url("./assets/img/svg/intro-background-mobile.svg");
  background-repeat: no-repeat;
  background-position: center;
}

@media (max-width: 1024px) {
  .intro::after {
    right: -100px;
    bottom: -70px;
  }

  .intro:before {
    top: 100%;
    left: 0;

    transform: translateY(-100%);
  }
}

@media (max-width: 768px) {
  .intro::after {
    content: none;
  }

  .intro:before {
    content: none;
  }
}

.intro__title {
  margin-bottom: 4px;

  font-weight: 700;
  font-size: 60px;
  line-height: 72px;

  @media (max-width: 1024px) {
    margin-bottom: 15px;

    font-size: 50px;
    line-height: 62px;
  }

  @media (max-width: 768px) {
    font-size: 30px;
    line-height: 35px;
  }
}

.intro__description {
  max-width: 535px;
  margin: 0 auto 40px auto;

  font-weight: 300;
  font-size: 17px;
  line-height: 23px;

  @media (max-width: 768px) {
    margin: 0 0 30px 0;

    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
  }
}

.intro__list {
  display: flex;
  justify-content: center;

  gap: 8px;

  @media (max-width: 1024px) {
    display: grid;

    grid-template-columns: 160px 160px;
  }

  @media (max-width: 768px) {
    display: flex;
    flex-direction: column;
    justify-content: start;
  }
}

.intro__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 160px;
  padding: 15px 10px;

  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  color: #1a1a1a;

  background-color: #ffffff;
  border-radius: 12px;

  transition: all 0.2s ease;

  gap: 8px;

  @media (max-width: 768px) {
    width: 100%;
    padding: 10px;

    font-size: 13px;
    line-height: 15px;
  }
}

.intro__link:hover {
  color: #ffffff;

  background-color: #36ba5f;
}

.intro__link:focus {
  color: #ffffff;

  background-color: #36ba5f;
  outline: none;
}

.intro__link:active {
  opacity: 0.5;
}

.social {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 996px;
  margin: 0 auto;
  margin-bottom: 80px;
  padding: 40px 42px;

  border-radius: 40px;
  box-shadow: 0 20px 60px 0 #1a1a1a0d;

  @media (max-width: 1024px) {
    max-width: 760px;
    margin-bottom: 60px;
  }

  @media (max-width: 768px) {
    flex-direction: column;
    justify-content: start;
    margin-bottom: 40px;
    padding: 15px;
  }
}

.social__description {
  margin-bottom: 16px;

  font-weight: 700;
  font-size: 15px;
  line-height: 18px;

  @media (max-width: 768px) {
    margin-bottom: 10px;

    font-weight: 500;
    font-size: 13px;
    line-height: 15px;
    text-align: center;
  }
}

.social__title {
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;

  @media (max-width: 768px) {
    margin-bottom: 25px;

    font-size: 25px;
    line-height: 30px;
    text-align: center;
  }
}

.social__list {
  display: flex;

  gap: 14px;

  @media (max-width: 1024px) {
    display: grid;

    grid-template-columns: 1fr 1fr 1fr;
  }
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 56px;
  height: 56px;

  color: #36ba5f;

  background-color: #f9f9f9;
  border-radius: 14px;

  transition: all 0.2s ease;
}

.social__link:hover {
  color: #ffffff;

  background-color: #36ba5f;
}

.social__link:focus {
  color: #ffffff;

  background-color: #36ba5f;
  outline: none;
}

.social__link:active {
  opacity: 0.5;
}

.questions {
  margin-bottom: 76px;

  @media (max-width: 1024px) {
    margin-bottom: 60px;
  }

  @media (max-width: 768px) {
    margin-bottom: 40px;
  }
}

.questions__title {
  margin-bottom: 27px;

  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
  color: #1a1a1a;

  @media (max-width: 1024px) {
    margin-bottom: 30px;

    font-size: 30px;
    line-height: 35px;
  }

  @media (max-width: 768px) {
    margin-bottom: 25px;

    font-size: 25px;
    line-height: 30px;
  }
}

.question {
  flex-shrink: 0;
  width: 282px;
  min-height: 160px;
  padding: 16px;

  background-color: #ffffff;
  border-radius: 16px;

  @media (max-width: 768px) {
    padding: 20px;
  }
}

.question:nth-child(odd) {
  position: relative;

  padding-right: 116px;
}

.question:nth-child(odd)::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;

  width: 104px;
  height: 160px;

  background-image: url("./assets/img/svg/questions-background-bag.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.question__title {
  margin-bottom: 8px;

  font-weight: 600;
  font-size: 20px;
  line-height: 24px;

  @media (max-width: 768px) {
    font-size: 18px;
    line-height: 20px;
  }
}

.question__description {
  font-weight: 300;
  font-size: 15px;
  line-height: 21px;
  color: #949494;

  @media (max-width: 768px) {
    font-size: 13px;
    line-height: 16px;
  }
}

#button-next.swiper-button-next,
#button-prev.swiper-button-prev {
  position: absolute;
  top: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;

  color: #1a1a1a;

  background-color: #ffffff;
  border-radius: 50%;
  box-shadow: 0 1px 7px 0 #00000017;

  transition: all 0.2s ease;

  @media (max-width: 768px) {
    width: 15px;
    height: 15px;

    background-color: transparent;
    box-shadow: none;
  }
}

#button-next.swiper-button-next {
  right: 0;
}

#button-prev.swiper-button-prev {
  left: 0;
}

#button-next:hover,
#button-prev:hover {
  color: #ffffff;

  background-color: #36ba5f;
}

@media (max-width: 768px) {
  #button-next:hover,
  #button-prev:hover {
    color: #36ba5f;

    background-color: transparent;
  }
}

#button-next:focus-visible,
#button-prev:focus-visible {
  color: #ffffff;

  background-color: #36ba5f;
  outline: none;
}

#button-next:active,
#button-prev:active {
  opacity: 0.5;
}

#button-next.swiper-button-next svg,
#button-prev.swiper-button-prev svg {
  width: 8px;
  height: 12px;
}

#button-next.swiper-button-next.swiper-button-disabled,
#button-prev.swiper-button-prev.swiper-button-disabled {
  display: none;
}

#button-prev.swiper-button-prev {
  transform: rotate(180deg);
}

#button-next.swiper-button-next::after,
#button-prev.swiper-button-prev::after {
  content: none;
}

.swiper {
  background-color: rgba(0, 0, 0, 0.02);
  box-shadow: 0 0 30px 0 #0000000d;
}

.faq__title {
  margin-bottom: 30px;

  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  text-align: center;

  @media (max-width: 1024px) {
    margin-bottom: 30px;

    font-size: 30px;
    line-height: 35px;
  }

  @media (max-width: 768px) {
    margin-bottom: 25px;

    font-size: 25px;
    line-height: 30px;
  }
}

.faq__list {
  display: flex;
  flex-direction: column;
  max-width: 980px;
  margin: 0 auto;

  gap: 12px;
}

.faq__link-title {
  margin-bottom: 4px;

  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #1a1a1a;

  @media (max-width: 768px) {
    font-size: 15px;
    line-height: 20px;
  }
}

.faq__description {
  width: 445px;

  font-weight: 400;
  font-size: 13px;
  line-height: 18.2px;

  @media (max-width: 768px) {
    display: none;
  }
}

.faq__link {
  position: relative;

  display: block;
  padding: 16px 20px 16px 24px;

  line-height: normal;
  color: #949494;

  border-radius: 16px;
  box-shadow: 0 0 30px 0 #0000000d;
  cursor: pointer;

  @media (max-width: 768px) {
    padding: 15px 40px 15px 15px;
  }
}

.faq__link:hover {
  color: #ffffff;

  background-color: #36ba5f;
}

.faq__link:focus {
  color: #ffffff;

  background-color: #36ba5f;
  outline: none;
}

.faq__link:active {
  opacity: 0.5;
}

.faq__link:hover .faq__link-title,
.faq__link:focus .faq__link-title,
.faq__link:active .faq__link-title {
  color: #ffffff;
}

.faq__svg {
  position: absolute;
  top: 50%;
  right: 20px;

  width: 8px;
  height: 12px;

  transform: translateY(-50%);
}

.info__title {
  position: relative;

  width: fit-content;
  margin-bottom: 16px;

  font-weight: 700;
  font-size: 24px;
  line-height: 28px;

  @media (max-width: 768px) {
    font-size: 20px;
    line-height: 24px;
  }
}

.info__title::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -36px;

  width: 24px;
  height: 24px;

  background-image: url("./assets/img/svg/info-whatsup.svg");
  background-repeat: no-repeat;
  background-position: center;
  transform: translateY(-50%);
}

.info__description {
  max-width: 690px;
  margin-bottom: 40px;

  font-weight: 400;
  font-size: 15px;
  line-height: 21px;

  @media (max-width: 768px) {
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
  }
}

.info__span {
  display: block;
  margin-bottom: 16px;

  font-weight: 700;
  font-size: 13px;
  line-height: 15px;
}

.info__list {
  display: flex;

  gap: 8px;

  @media (max-width: 768px) {
    justify-content: center;

    gap: 20px;
  }
}

.info__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  padding: 15px;

  color: #36ba5f;

  background-color: #f9f9f9;
  border-radius: 12px;
}

.info__link:hover {
  color: #ffffff;

  background-color: #36ba5f;
}

.info__link:focus {
  color: #ffffff;

  background-color: #36ba5f;
  outline: none;
}

.info__link:active {
  opacity: 0.5;
}

.info__link--green-mod {
  min-width: 224px;

  color: #ffffff;

  background-color: #36ba5f;

  gap: 8px;

  @media (max-width: 768px) {
    min-width: 48px;
  }
}

.info__link--green-mod > span {
  @media (max-width: 768px) {
    display: none;
  }
}

.info__link--green-mod:hover {
  background-color: #93bbea;
}

.info__link--green-mod:focus {
  background-color: #93bbea;
  outline: none;
}

.info__link--green-mod:active {
  opacity: 0.5;
}
